rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuth() {
      return request.auth != null;
    }

    function isAdmin() {
      return isAuth() && request.auth.token.role == 'admin';
    }

    function isApprover(movementId) {
      return request.auth.uid == get(/databases/$(database)/documents/asset_movements/$(movementId)).data.approver1 ||
             request.auth.uid == get(/databases/$(database)/documents/asset_movements/$(movementId)).data.approver2;
    }

    match /users/{userId} {
      allow read: if isAuth(); // Allow all authenticated users to read any user profile
      allow write: if isAuth() && request.auth.uid == userId; // Users can write to their own profile
    }

    match /users/{userId}/notifications/{notificationId} {
        allow create: if isAuth();
        allow read, update, delete: if isAuth() && request.auth.uid == userId;
    }

    match /siteDefinitions/{siteId} {
        allow read: if isAuth();
        allow create, update, delete: if isAdmin();
    }

    match /siteMonthlyData/{dataId} {
        allow read: if isAuth();
        allow create, update, delete: if isAdmin();
    }

    match /assets/{assetId} {
        allow read: if isAuth();
        allow create, update, delete: if isAdmin();
    }

    match /asset_movements/{movementId} {
        allow read: if isAuth();
        allow create: if isAuth();
        allow update: if isAuth() && (isApprover(movementId) || isAdmin());
        allow delete: if isAdmin();
    }

    match /userProfiles/{userId} {
        allow read: if isAuth();
        allow create, update, delete: if isAdmin();
    }
  }
}
